In [1]:
from langchain_community.utilities import SQLDatabase
from langchain_openai import ChatOpenAI
from langchain_community.agent_toolkits import create_sql_agent

import os

In [2]:
def Qa_pgsql(question, temperature=0, verbose=True):
    conn_string = 'postgresql://{}:{}@{}:{}/{}'.format(
                os.environ['POSTGRES_USER']
                , os.environ['POSTGRES_PASSWORD']
                , os.environ['POSTGRES_HOST']
                , os.environ['POSTGRES_PORT']
                , os.environ['POSTGRES_DB']
            )
    db = SQLDatabase.from_uri(conn_string)
    llm = ChatOpenAI(
        model = 'gpt-3.5-turbo'
        , temperature = temperature
    )
    agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=verbose)
    answer = agent_executor.invoke({"input": question})
    return answer

# Question 1

In [3]:
question = "How many writer are there ?"
answer = Qa_pgsql(question)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


book_list, book_reviews, category_list, writer_list
Invoking: `sql_db_schema` with `{'table_names': 'writer_list'}`



CREATE TABLE writer_list (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	writer_name VARCHAR,
	CONSTRAINT writer_list_pkey PRIMARY KEY (id)
)

/*
3 rows from writer_list table:
id	writer_name
1	JJ Smith
2	Stephen King
3	Jordan B. Peterson
*/
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) AS total_writers FROM writer_list'}`


[(248,)]There are 248 writers in the database.

> Finished chain.

In [4]:
print('input :', answer['input'])
print('output :', answer['output'])

input : How many writer are there ?
output : There are 248 writers in the database.

# Question 2

In [5]:
question = "Find average of rating where book name is A Stolen Life: A Memoir"
answer = Qa_pgsql(question)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


book_list, book_reviews, category_list, writer_list
Invoking: `sql_db_schema` with `{'table_names': 'book_reviews'}`



CREATE TABLE book_reviews (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	year INTEGER,
	book_id INTEGER,
	price INTEGER,
	user_rating DOUBLE PRECISION,
	reviews INTEGER,
	CONSTRAINT book_reviews_pkey PRIMARY KEY (id),
	CONSTRAINT book_reviews_book_id_fkey FOREIGN KEY(book_id) REFERENCES book_list (id)
)

/*
3 rows from book_reviews table:
id	year	book_id	price	user_rating	reviews
1	2016	1	8	4.7	17350
2	2011	2	22	4.6	2052
3	2018	3	15	4.7	18979
*/
Invoking: `sql_db_query` with `{'query': 'SELECT AVG(user_rating) AS average_rating FROM book_reviews WHERE book_id = 1'}`


[(4.7,)]The average rating for the book "A Stolen Life: A Memoir" is 4.7.

> Finished chain.

In [6]:
print('input :', answer['input'])
print('output :', answer['output'])

input : Find average of rating where book name is A Stolen Life: A Memoir
output : The average rating for the book "A Stolen Life: A Memoir" is 4.7.

# Question 3

In [7]:
question = "นับจำนวนหนังสือแต่ละประเภท"
answer = Qa_pgsql(question)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


book_list, book_reviews, category_list, writer_list
Invoking: `sql_db_schema` with `{'table_names': 'book_list, category_list'}`



CREATE TABLE book_list (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	book_name VARCHAR(128),
	writer_id INTEGER,
	category_id INTEGER,
	CONSTRAINT book_list_pkey PRIMARY KEY (id),
	CONSTRAINT book_list_category_id_fkey FOREIGN KEY(category_id) REFERENCES category_list (id),
	CONSTRAINT book_list_writer_id_fkey FOREIGN KEY(writer_id) REFERENCES writer_list (id)
)

/*
3 rows from book_list table:
id	book_name	writer_id	category_id
1	10-Day Green Smoothie Cleanse	1	1
2	11/22/63: A Novel	2	2
3	12 Rules for Life: An Antidote to Chaos	3	1
*/


CREATE TABLE category_list (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	category_name VARCHAR,
	CONSTRAINT category_list_pkey PRIMARY KEY (id)
)

/*
3 rows from category_list table:
id	category_name
1	Non Fiction
2	Fiction
*/
Invoking: `sql_db_query` with `{'query': 'SELECT category_name, COUNT(*) AS num_books FROM category_list JOIN book_list ON category_list.id = book_list.category_id GROUP BY category_name'}`


[('Non Fiction', 191), ('Fiction', 160)]มีทั้งหมด 191 เล่มหนังสือประเภท Non Fiction และ 160 เล่มหนังสือประเภท Fiction ในฐานข้อมูล

> Finished chain.

In [8]:
print('input :', answer['input'])
print('output :', answer['output'])

input : นับจำนวนหนังสือแต่ละประเภท
output : มีทั้งหมด 191 เล่มหนังสือประเภท Non Fiction และ 160 เล่มหนังสือประเภท Fiction ในฐานข้อมูล

# Question 4

In [9]:
question = "Find 5 book name by most user rating in 2019"
answer = Qa_pgsql(question)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


book_list, book_reviews, category_list, writer_list
Invoking: `sql_db_schema` with `{'table_names': 'book_list, book_reviews'}`



CREATE TABLE book_list (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	book_name VARCHAR(128),
	writer_id INTEGER,
	category_id INTEGER,
	CONSTRAINT book_list_pkey PRIMARY KEY (id),
	CONSTRAINT book_list_category_id_fkey FOREIGN KEY(category_id) REFERENCES category_list (id),
	CONSTRAINT book_list_writer_id_fkey FOREIGN KEY(writer_id) REFERENCES writer_list (id)
)

/*
3 rows from book_list table:
id	book_name	writer_id	category_id
1	10-Day Green Smoothie Cleanse	1	1
2	11/22/63: A Novel	2	2
3	12 Rules for Life: An Antidote to Chaos	3	1
*/


CREATE TABLE book_reviews (
	id INTEGER GENERATED BY DEFAULT AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	year INTEGER,
	book_id INTEGER,
	price INTEGER,
	user_rating DOUBLE PRECISION,
	reviews INTEGER,
	CONSTRAINT book_reviews_pkey PRIMARY KEY (id),
	CONSTRAINT book_reviews_book_id_fkey FOREIGN KEY(book_id) REFERENCES book_list (id)
)

/*
3 rows from book_reviews table:
id	year	book_id	price	user_rating	reviews
1	2016	1	8	4.7	17350
2	2011	2	22	4.6	2052
3	2018	3	15	4.7	18979
*/
Invoking: `sql_db_query` with `{'query': 'SELECT bl.book_name, br.user_rating FROM book_list bl JOIN book_reviews br ON bl.id = br.book_id WHERE br.year = 2019 ORDER BY br.user_rating DESC LIMIT 5'}`


[('Unfreedom of the Press', None), ('Brown Bear, Brown Bear, What Do You See?', 4.9), ('Dog Man: Brawl of the Wild: From the Creator of Captain Underpants (Dog Man #6)', 4.9), ('Dog Man: Fetch-22: From the Creator of Captain Underpants (Dog Man #8)', 4.9), ('Dog Man: For Whom the Ball Rolls: From the Creator of Captain Underpants (Dog Man #7)', 4.9)]The top 5 book names by user rating in 2019 are:
1. Brown Bear, Brown Bear, What Do You See? - User Rating: 4.9
2. Dog Man: Brawl of the Wild: From the Creator of Captain Underpants (Dog Man #6) - User Rating: 4.9
3. Dog Man: Fetch-22: From the Creator of Captain Underpants (Dog Man #8) - User Rating: 4.9
4. Dog Man: For Whom the Ball Rolls: From the Creator of Captain Underpants (Dog Man #7) - User Rating: 4.9

> Finished chain.

In [10]:
print('input :', answer['input'])
print('output :', answer['output'])

input : Find 5 book name by most user rating in 2019
output : The top 5 book names by user rating in 2019 are:
1. Brown Bear, Brown Bear, What Do You See? - User Rating: 4.9
2. Dog Man: Brawl of the Wild: From the Creator of Captain Underpants (Dog Man #6) - User Rating: 4.9
3. Dog Man: Fetch-22: From the Creator of Captain Underpants (Dog Man #8) - User Rating: 4.9
4. Dog Man: For Whom the Ball Rolls: From the Creator of Captain Underpants (Dog Man #7) - User Rating: 4.9